.clients__container {
  @extend %container;
}

.clients {
  @extend %section;

  &__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    color: var(--main-txt-cl);
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
    }
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
  &__item {
    gap: 30px;
  }
}

.clients__link {
  display: flex;
  height: 92px;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition: color var(--animation-time) var(--time-functial),
    border var(--animation-time) var(--time-functial);

  &:hover,
  :focus {
    border: 1px solid var(--accent-txt-cl);
    color: var(--accent-txt-cl);
  }

  @media screen and(min-width:768px) {
    width: 226px;
  }

  @media screen and(min-width:1200px) {
    width: 170px;
  }
}
