.hero {
  background-color: var(--dark-bg-cl);
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;

  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/hero-img.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__container {
  @extend %container;
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  min-width: 200px;

  background-color: var(--accent-txt-cl);
  color: var(--white-txt-cl);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);

  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    min-width: 216px;
  }
}
