.portfolio {
  @extend %section;
}
.portfolio__container {
  @extend %container;
}
.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}
.buttons__item {
  display: block;
  margin: 0 auto;
  padding: 6px 22px;

  cursor: pointer;
  border: none;
  background-color: var(--light-bg-cl);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--main-txt-cl);
  font-family: inherit;
  letter-spacing: 0.03em;

  transition: color var(--animation-time) var(--time-functial),
    background-color var(--animation-time) var(--time-functial),
    box-shadow var(--animation-time) var(--time-functial);

  &:hover,
  &:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

// .buttons__item:hover,
// .buttons__item:focus {
//   color: var(--white-txt-cl);
//   background-color: var(--accent-txt-cl);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//   border-radius: 4px;
// }

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works__item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.works__link {
  text-decoration: none;
  display: block;

  transition: box-shadow var(--animation-time) var(--time-functial);

  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .works__overlay,
  :focus .works__overlay {
    transform: translateY(0);
  }

  &:hover .overlay,
  :focus .overlay {
    transform: translateY(0);
  }
}

// .works__link:hover,
// .works__link:focus {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }

.works__thumb {
  position: relative;
  overflow: hidden;
}
.works__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation-time) var(--time-functial);
}
// .works__link:hover .works__overlay,
// .works__link:focus .works__overlay {
//   transform: translateY(0);
// }

.works__text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white-txt-cl);
}

// .works__link:hover .overlay,
// .works__link:focus .overlay {
//   transform: translateY(0);
// }

.works__about {
  padding: 20px 24px;
  border: 1px solid var(--light1-cl);
  border-top: none;
}

.works__project {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.works__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--light-txt-cl);
}
