.team-container {
  @extend %container;
}
.team {
  @extend %section;

  background-color: var(--light-bg-cl);

  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--main-txt-cl);
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 270px;
    background-color: var(--white-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--light-txt-cl);
  }
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.socials .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.socials__item {
  transition: color var(--animation-time) var(--time-functial),
    background-color var(--animation-time) var(--time-functial);

  &:hover,
  :focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-txt-cl);
  }
}

.socials__icon {
  fill: currentColor;
}
