.header__container {
  @extend %container;
}

.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }
}

.header .link {
  transition: color var(--animation-time) var(--time-functial);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);

  &__logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
    color: #000000;
  }
}

.logo__accent {
  color: var(--accent-txt-cl);
}

.nav__list {
  display: flex;
  margin-left: 93px;
  column-gap: 50px;
}

.nav__item {
  position: relative;

  & .current {
    color: var(--accent-txt-cl);
  }
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  &.current::after {
    content: '';
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: -1.5%;

    width: 100%;
    height: 4px;
    background-color: var(--accent-txt-cl);
    border-radius: 2px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  color: var(--light-txt-cl);
  column-gap: 50px;
}

.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--light-txt-cl);
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
