.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--animation-time) var(--time-functial);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-time) var(--time-functial);

  width: 528px;
  height: 581px;

  padding: 40px;
  background-color: var(--white-bg-cl);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border-radius: 50%;
  background-color: var(--white-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: background-color var(--animation-time) var(--time-functial),
    fill var(--animation-time) var(--time-functial);

  &:hover {
    background-color: var(--accent-txt-cl);
    fill: var(--white-bg-cl);
  }
}

// .modal__btn:hover {
//   background-color: var(--accent-txt-cl);
//   fill: var(--white-bg-cl);
// }

/*--------------------------------------*/

.clientform__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  margin-bottom: 12px;

  color: var(--main-txt-cl);
}

.clientform__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.clientform__name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--light-txt-cl);
}

.clientform__div {
  position: relative;
}

.clientform__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;

  transition: outline-color var(--animation-time) var(--time-functial),
    border var(--animation-time) var(--time-functial);

  &:focus ~ .clientform__icon,
  &:hover ~ .clientform__icon {
    fill: var(--accent-txt-cl);
  }

  &:focus,
  &:hover {
    outline-color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
  }
}

// .clientform__input:focus ~ .clientform__icon,
// .clientform__input:hover ~ .clientform__icon {
//   fill: var(--accent-txt-cl);
// }

// .clientform__input:focus,
// .clientform__input:hover {
//   outline-color: var(--accent-txt-cl);
//   border: 1px solid var(--accent-txt-cl);
// }

.clientform__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  transition: fill var(--animation-time) var(--time-functial);
}

.clientform__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.clientform__texterea {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  resize: none;
  transition: outline-color var(--animation-time) var(--time-functial),
    border var(--animation-time) var(--time-functial);

  &:focus,
  &:hover {
    outline-color: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
  }
}

// .clientform__texterea:focus,
// .clientform__texterea:hover {
//   outline-color: var(--accent-txt-cl);
//   border: 1px solid var(--accent-txt-cl);
// }

.clientform__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--light-txt-cl);
  gap: 7px;
}

.clientform__modal:checked ~ .clientform__field {
  background-image: url(../images/checked.svg);
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  border-color: var(--accent-txt-cl);
}

.clientform__field {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: border-color var(--animation-time) var(--time-functial),
    background-image var(--animation-time) var(--time-functial);

  &:hover,
  &:focus {
    border-color: var(--accent-txt-cl);
  }
}
// .clientform__field:hover,
// .clientform__field:focus {
//   border-color: var(--accent-txt-cl);
// }

.clientform__link {
  color: var(--accent-txt-cl);
}

.clientform__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;

  cursor: pointer;
  padding: 10px 52px;
  margin: 0 auto;

  color: var(--white-txt-cl);
  background-color: var(--accent-txt-cl);
}
